.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // max-width: 800px;
}
//
.form > div {
  width: 100%;
  // padding: 10px;
  max-width: 500px;
  margin-bottom: 10px;

  // align-self: flex-start;
}
//
.form input {
  width: 100%;
  //font-size: 20px;
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: green;
}
